body {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

aside{
    text-align: right;
    padding-right: 2.5rem !important;
}

aside h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

aside h2, h3 {
    font-size: 1rem;
}

aside h3 a {
    text-decoration: none;
}

.rounded {
    border-radius: 0.5rem;
}

.img-fluid {
    max-width: 70%;
    height: auto;
}

.text-dark {
    font-size: 1.35rem;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

main dl {
    font-size: 1rem;
    margin-bottom: 1rem;
}

main a {
    text-decoration-line: none;
}